/* Drop2Monster_table (d2m) */

  html,body {
    width: auto;
    height:calc(100% -70px);
  }
  .d2m_table_box{
    overflow-y: auto;
    width:98%;
    height:calc(100% - 20px);
    position: relative;
  }

  table.d2m {
    border-collapse: collapse;
    border-spacing: 0;
    width: 98%;
    margin: auto;
  }

  thead.sticky_d2m {
  position: sticky;
  top: 0;
  z-index: 2; /* 背景レイヤの ::before より前面 */
  height: 50px; /* sticky基準の安定化 */
  background-color: #fec; /* stickyには明示的背景必須 */
}
  .sticky_d2m {
    position: sticky;
    top: 0;
    left: 0;
    border-top: none;
  }
  .sticky_d2m::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #fec;
    background-clip: padding-box;
    z-index: -1;
  }
  th,td {
    height:50px;
    border: solid 1px #000;
    text-align: center;
  }
  .Item_No{
    width: 60px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .Search_Drop{
    width: 320px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .monster_name_d2m{
    width: calc(100% - 300px);
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  tbody.d2m{
    font-weight: normal;
    padding: 6px 8px;
  }
  .Item_No_d2m{
    width: 60px;
  }
  .drop_item_d2m{
    width: 320px;
  }
  .monster_list_d2m{
    width: calc(100% - 300px);
    text-align: left;
  }
  
  tbody th,
  tbody td {
    font-weight: normal;
    padding: 3px 6px;
  }
