/* accessory table(acce) */

  html,body {
    width: auto;
    height: calc(100% - 44px); /* ← header の高さを引く */
    margin: 0;
  }

h2 {
    text-align: left;
    margin: 0 0 2px 18px;
    font-size: 1.2em;
  }

  .table_box_acce{
    flex: 1; /* ← header の高さを自動で差し引いて残りを占有 */
    min-height: 0; /* ← これが重要 */
    overflow: auto; /* ← ここでスクロールを閉じ込める */
    width:100%;
    position: relative;
  }

  table.acce {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
  }

  thead.sticky_acce {
    position: sticky;
    top: 0;
    z-index: 2; /* 背景レイヤの ::before より前面 */
    height: 50px; /* sticky基準の安定化 */
    background-color: #fec; /* stickyには明示的背景必須 */
  }
  .sticky_acce {
    position: sticky;
    top: 0;
    left: 0;
    border-top: none;
  }
  .sticky_acce::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #fec;
    background-clip: padding-box;
    z-index: -1;
  }
  th,td {
    height:24px;
    border: solid 1px #000;
    text-align: center;
    font-weight: normal;
    margin: 1px;
    padding: 3px 6px;
    font-size:small;
  }
  
  .Item_No {
    width: 60px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .Search_Drop {
    width: 320px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  tbody.acce {
    font-weight: normal;
    padding: 6px 8px;
  }

  .description_acce {
    text-align: left;
  }
  .Item_No_odd_acce {
    background-color: #fec;
  }
  .Not_applicable {
    background-color: #ddd;
  }
      .nav-group_acce {
        margin: 0;
        padding: 0;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        /*vertical-align: auto;*/
        zoom: 1;
        font-size: 0.9em;
        /*display: inline;*/
    }

    .nav-group_acce>li {
        margin: 0;
        padding: 0 6px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        /*vertical-align: auto;*/
        zoom: 1;
        /*display: inline;*/
    }

    .nav-group_acce>li a {
        display: block;
        padding: 6px 6px;
        color: #333;
        text-decoration: none;
    }

    .nav-group_acce li a:hover {
        color: #e22;
        font-weight:bold;
    }

    .nav-group_acce>li a.active {
        border-bottom: #333 solid 2px;
        color: #999;
    }
