.sr-only {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}
  html,body {
    width:100%;
    height:calc(100% - 48px);
  }
  .skill_table_box{
    flex: 1; /* ← header の高さを自動で差し引いて残りを占有 */
    min-height: 0; /* ← これが重要 */
    overflow: auto; /* ← ここでスクロールを閉じ込める */
    width:100%;
    position: relative;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 98%;
    margin: auto;
}
  thead {
    height:1px;
    text-align: center;
  }
  .sticky {
    position: sticky;
    top: 0;
    left: 0;
    border-top: none;
  }
  .sticky::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #cef;
    background-clip: padding-box;
    z-index: -1;
  }

.child-table {
border-collapse: collapse;
background-color: #ffffff;
font-size:xx-small;
}
tr.record-table{
background-color: #ffffff;
border-color:#ffffff
}
th {
background-color: #d0d0e0;
border: 1px solid #888;
padding: 6px;
text-align: left;
font-size: small;
font-weight: normal;
}
th.grade {
width: 2em;
}
td {
border: 1px solid #888;
padding: 6px;
text-align: left;
font-size: small;
font-weight: normal;
}
td.grade_no {
width: 2em;
text-align: right;
}
td.cls {
width: 2em;
text-align: right;
}
.row-header {
background-color: #d0d0e0;
font-weight:normal;
font-size:smaller;
min-width:30px;
}
.row-header_skillname {
background-color: #d0d0e0;
font-weight:normal;
font-size:smaller;
width: calc(100% - 5 * 100px);
min-width:60px;
}
.row-data {
background-color: #ffffff;
min-width:60px;
}
.col-header {
background-color: #d0d0e0;
width:72px;
font-weight:normal;
font-size:smaller;
}
.col-data {
background-color: #ffffff;
min-width:72px;
}
.col-data_no {
background-color: #edf;
width:60px;
border-right-color: #edf;
font-size: small;
}
.col-data_level {
background-color: #edf;
width: 60px;
border-left-color: #edf;
border-right-color: #edf;
font-size: medium;
}
.col-data_skillname {
background-color: #edf;
width: calc(100% - 5 * 100px);
min-width:300px;
border-left-color: #edf;
font-size: medium;
}

.footer-copyright {
color: #000;
font-size: 0.8em;
}
@media (max-width: 438px) {
.spv-sr-only {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}
table {
width: 100%;
border-collapse: collapse;
background-color: #ffffff;
}
.spv-child-table {
border-collapse: collapse;
background-color: #ffffff;
font-size:xx-small;
}
tr.spv-layout{
background-color: #ffffff;
border-color:#ffffff
}
th {
background-color: #d0d0e0;
border: 1px solid #ccc;
padding: 6px;
text-align: left;
font-size: small;
font-weight: normal;
}
td {
border: 1px solid #ccc;
padding: 6px;
text-align: left;
font-size: small;
font-weight: normal;
}
.spv-row-header {
background-color: #d0d0e0;
font-weight:normal;
font-size:smaller;
min-width:30px;
}
.spv-row-header_skillname {
background-color: #d0d0e0;
font-weight:normal;
font-size:smaller;
width: calc(100% - 5 * 100px);
min-width:60px;
}
.spv-row-data {
background-color: #ffffff;
min-width:60px;
}
.spv-col-header {
background-color: #d0d0e0;
min-width:72px;
font-weight:normal;
font-size:smaller;
}
.spv-col-data {
background-color: #ffffff;
min-width:72px;
}
.spv-col-data_no {
background-color: #edf;
width:60px;
border-right-color: #edf;
font-size: small;
}
.spv-col-data_level {
background-color: #edf;
width: 60px;
border-left-color: #edf;
border-right-color: #edf;
font-size: medium;
}
.spv-col-data_skillname {
background-color: #edf;
width: calc(100% - 5 * 100px);
min-width:300px;
border-left-color: #edf;
font-size: medium;
}
.spv-footer-text {
margin-bottom: 6px;
color: #999;
font-size: 0.8em;
}

.spv-footer-copyright {
color: #000;
font-size: 0.8em;
}
}
/* ↑スマホ用メディアクエリ対応 2025-06-22-16:40 */
/* thtdの繰り返しとなって空白が多くスクロールが増えるのでjsによりtrthtdtrthtdにする   */
/* 2025-06-23 6:00 */
/* if (window.innerWidth <= 398) 判定によりthtdテーブル構造をスマホ版とPC版で切り分け　*/

.highlight {
  background-color: #ffeeba;
  transition: background-color 0.5s ease;
}

#loadBtn {
  margin-bottom: 6px;
}
/* 折畳み表示icon用 */
.in-line_icon {
  vertical-align: middle;/*text-bottom または middle */
  height: 18px;
  width: 30px;
}
/* 折畳み表示text用 */
.ellipsis {
  cursor: pointer;
  color: blue;
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
}
