/* monster_table */

  html,body {
    width:auto;
    height:calc(100% - 44px);
  }
  .Monster_table_box{
    flex: 1; /* ← header の高さを自動で差し引いて残りを占有 */
    min-height: 0; /* ← これが重要 */
    overflow: auto; /* ← ここでスクロールを閉じ込める */
    width:100%;
    position: relative;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
    font-size: 12px;
  }

  thead.sticky {
    position: sticky;
    top: 0;
    z-index: 10; /* 背景レイヤの ::before より前面 */
    height: 50px; /* sticky基準の安定化 */
    /*background-color: #fec; /* stickyには明示的背景必須、透明だとスクロールしてくるBodyが重なって見える */
    background-color: transparent; /* stickyには明示的背景必須、透明だとスクロールしてくるBodyが重なって見える */
  }
  .sticky {
    position: sticky;
    top: 0;
    left: 0;
    /*border-top: none;*/
  }
  th.sticky {
    background-color: #cef;
		margin: 0px;
    max-width: 300px;
    min-width: 30px;
    font-weight: normal;
    padding: 3px 6px;
    text-align: center;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
  }

  .sticky::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
		/* border-topまたはbottomの一方にしないと現状は隙間ができるように見える。 */
    border-top: 1px solid #888;
    /* border-bottom: 1px solid #888; */
    border-bottom: none;
    background-color: transparent;
    background-clip: padding-box;
    z-index: -1;
  }

  th.Drop_item{
    width: 260px;
    text-align: center;
  }

  th.remarks2{
    width: 60px;
    text-align: center;
  }

  td {
    width: 20px;
    max-width: 300px;
    min-width: 30px;
    font-weight: normal;
    padding: 3px 6px;
    text-align: center;
    border: 1px solid #888;
  }
  td.list_no{
    width: 20px;
  }
  td.hunting_ground{
    width: 100px;
  }
  td.monster_name{
    width: 100px;
    text-align: left;
  }
  td.monster_lv{
    width: 20px;
  }
  td.monster_ac{
    width: 20px;
  }
  td.monster_mr{
    width: 20px;
  }
  td.monster_hp{
    width: 35px;
  }
  td.monster_mp{
    width: 30px;
  }
  td.Weakness_Element{
    width: 50px;
  }
  td.SizeinWeapons{
    width: 40px;
  }
  td.Drop_item{
    width: 260px;
    text-align: left;
  }
  td.remarks2{
    width: 60px;
    text-align: left;
  }