/* monster_table */

  html,body {
    width:auto;
    height:calc(100% - 44px);
  }
  .Monster_table_box{
    flex: 1; /* ← header の高さを自動で差し引いて残りを占有 */
    min-height: 0; /* ← これが重要 */
    overflow: auto; /* ← ここでスクロールを閉じ込める */
    width:100%;
    position: relative;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
  }

  thead {
    height:50px;
    text-align: center;
  }
  .sticky {
    position: sticky;
    top: 0;
    left: 0;
    border-top: none;
  }
  .sticky::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #cef;
    background-clip: padding-box;
    z-index: -1;
  }

  th {
    width: 20px;
    max-width: 300px;
    min-width: 30px;
    border: solid 1px #000;
    font-weight: normal;
    padding: 3px 6px;
    text-align: center;
  }

  th.Drop_item{
  width: 260px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
  }

  th.remarks2{
  width: 60px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
  }

  td {
    width: 20px;
    max-width: 300px;
    min-width: 30px;
    border: solid 1px #000;
    font-size:small;
    font-weight: normal;
    padding: 3px 6px;
    text-align: center;
  }
  .list_no{
    width: 20px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .hunting_ground{
    width: 100px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .monster_name{
  width: 100px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: left;
  }
  .monster_lv{
    width: 20px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .monster_ac{
    width: 20px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .monster_mr{
    width: 20px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .monster_hp{
    width: 35px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .monster_mp{
    width: 30px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .Weakness_Element{
  width: 50px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }

  .SizeinWeapons{
  width: 40px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }

  td.Drop_item{
  width: 260px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: left;
  }

  td.remarks2{
  width: 60px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: left;
  }