/* Drop2Monster_table (d2m) */

  html,body {
    height:calc(100% - 44px);
  }
  .d2m_table_box{
    flex: 1; /* ← header の高さを自動で差し引いて残りを占有 */
    min-height: 0; /* ← これが重要 */
    overflow: auto; /* ← ここでスクロールを閉じ込める */
    width:100%;
    position: relative;
  }

  table {
    font-size: 12px;
  }

/**/
thead.sticky th {
  background-image:
    linear-gradient(to bottom, #888 0, #888 1px, transparent 1px), /* 上の線 */
    linear-gradient(to bottom, #888 0, #888 1px, transparent 1px); /* 下の線 */

  background-repeat: no-repeat, no-repeat;

  background-position:
    left top,        /* 上の線 */
    left bottom;     /* 下の線 */

  background-size:
    100% 1px,
    100% 1px;
}
/**/
th {
    background-color: #fec;
    text-align: center;
    border-left: 1px solid #888; /*Firefox縦罫線消え対応*/
    border-right: 1px solid #888; /*Firefox縦罫線消え対応*/
  }
/* th width limit */
  th.Item_No{
    width: 40px;
  }
  th.Search_Drop{ 
    width: 300px;
  }
/* 他thは成り行き*/
/* th width limit */
	td {
    max-width: 300px;
    min-width: 30px;
    padding: 3px 6px;
    text-align: center;
    height:25px;
    border-left: 1px solid #888;
		border-right: 1px solid #888;
		border-bottom: 1px solid #888;
		border-top: none;
	}

  td.Item_No_d2m{
    width: 60px;
  }
  td.drop_item_d2m{
    width: 320px;
  }
  td.monster_list_d2m{
    width: calc(100% - 300px);
    text-align: left;
  }
  
  tbody th,
  tbody td {
    font-weight: normal;
    padding: 3px 6px;
  }

	tr {
		border: none; /* th/tdにborderは描かせる */
	}
  thead.sticky_d2m {
  background-color: #fec; /* stickyには明示的背景必須、透明だとスクロールしてくるBodyが重なって見える */
  /*background-color: transparent; /* stickyには明示的背景必須、透明だとスクロールしてくるBodyが重なって見える */
}
