/* monster_table */

  html,body {
    height:calc(100% - 44px);
  }
  .Monster_table_box{
    flex: 1; /* ← header の高さを自動で差し引いて残りを占有 */
    min-height: 0; /* ← これが重要 */
    overflow: auto; /* ← ここでスクロールを閉じ込める */
    width:100%;
    position: relative;
  }

  table {
    font-size: 12px;
  }


/**/
  thead.sticky th {
    background-image:
    linear-gradient(to bottom, #888 0, #888 1px, transparent 1px), /* 上の線 */
    linear-gradient(to bottom, #888 0, #888 1px, transparent 1px); /* 下の線 */

    background-repeat: no-repeat, no-repeat;

    background-position:
      left top,        /* 上の線 */
      left bottom;     /* 下の線 */

    background-size:
      100% 1px,
      100% 1px;
  }
/**/
  th {
    background-color: #cef;
    text-align: center;
    border-left: 1px solid #888; /*Firefox縦罫線消え対応*/
    border-right: 1px solid #888; /*Firefox縦罫線消え対応*/
  }
/* th width limit */
  th.Drop_item{
    width: 260px;
  }
  th.remarks2{
    width: 60px;
  }
/* 他thは成り行き*/
/* th width limit */
  td {
    max-width: 300px;
    min-width: 30px;
    padding: 3px 6px;
    text-align: center;
    height:25px;
		border-left: 1px solid #888;
		border-right: 1px solid #888;
		border-bottom: 1px solid #888;
		border-top: none;
  }
  td.list_no{
    width: 20px;
  }
  td.hunting_ground{
    width: 100px;
  }
  td.monster_name{
    width: 100px;
    text-align: left;
  }
  td.monster_lv{
    width: 20px;
  }
  td.monster_ac{
    width: 20px;
  }
  td.monster_mr{
    width: 20px;
  }
  td.monster_hp{
    width: 35px;
  }
  td.monster_mp{
    width: 30px;
  }
  td.Weakness_Element{
    width: 50px;
  }
  td.SizeinWeapons{
    width: 40px;
  }
  td.Drop_item{
    width: 260px;
    text-align: left;
  }
  td.remarks2{
    width: 60px;
    text-align: left;
  }