/* Drop2Monster_table (d2m) */

  /* html,body の規定は無用。種制御はLinage_main.cssに移管 */

  /* page_body の規定は共通css(Linage_main.css)に移管 */

  /* header の規定は共通css(Linage_main.css)に移管 */

  .d2m_table_box{
    flex: 1; /* ← header の高さを自動で差し引いて残りを占有 */
    min-height: 0; /* ← これが重要 */
    overflow: auto; /* ← ここでスクロールを閉じ込める */
    width:calc(100% - 3px);
    position: relative;
    padding-left:2px;
  } 

/* borderはLineage_main.cssだけ */
  table {
    font-size: 12px;
  }

  th,
  td {
    font-weight: normal;
    padding: 3px 6px;
  }

  th {
    background-color: #fec;
  }

/* th/td width limit */
	td {
    height:25px;
	}
  th.Item_No,
  td.Item_No_d2m{
    width: 28px;
  }
  th.monster_name,
  td.monster_list_d2m{
    min-width: calc(100% - 332px);
  }
  th.Search_Drop,
  td.drop_item_d2m{
    min-width: 31vw;
    max-width: 300px;
  }