/* Drop2Monster_table (d2m) */

  html,body {
    width: auto;
    height:calc(100% - 44px);
  }

  .d2m_table_box{
    flex: 1; /* ← header の高さを自動で差し引いて残りを占有 */
    min-height: 0; /* ← これが重要 */
    overflow: auto; /* ← ここでスクロールを閉じ込める */
    width:100%;
    position: relative;
  }

  table.d2m {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
  }

  thead.sticky_d2m {
  position: sticky;
  top: 0;
  z-index: 10; /* 背景レイヤ[Lineage_main.cssの::before(-1)]より前面 */
  height: 50px; /* sticky基準の安定化 */
  /*background-color: #fec; /* stickyには明示的背景必須、透明だとスクロールしてくるBodyが重なって見える */
  background-color: transparent; /* stickyには明示的背景必須、透明だとスクロールしてくるBodyが重なって見える */
}
    th.sticky {
    border: 1px solid #888;
    background-color: #fec;
		margin: 0px;
    max-width: 300px;
    min-width: 30px;
    font-weight: normal;
    padding: 3px 6px;
    text-align: center;
		background-color: #fec;
  }
  td {
    height:25px;
    border: solid 1px #888;
    text-align: center;
  }
  .Item_No{
    width: 60px;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
  }
  .Search_Drop{
    width: 320px;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
  }
  .monster_name_d2m{
    width: calc(100% - 300px);
    border-left: 1px solid #888;
    border-right: 1px solid #888;
  }
  tbody.d2m{
    font-weight: normal;
    padding: 6px 8px;
  }
  .Item_No_d2m{
    width: 60px;
  }
  .drop_item_d2m{
    width: 320px;
  }
  .monster_list_d2m{
    width: calc(100% - 300px);
    text-align: left;
  }
  
  tbody th,
  tbody td {
    font-weight: normal;
    padding: 3px 6px;
  }
