/* モーダル用 */
  .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  background-color: #fdfdf0;
  margin: 5% auto;
  padding: 1em;
  border: 1px solid #888;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 0 10px #333;
}
.close-button {
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}
table.lineage_accessory_popup_table {
  border: 1px solid #888;
  font-size: 0.9em;
  color: #222;
  text-align:center;
  border-collapse: collapse;
  width: 100%;
}
.lineage_accessory_popup_table th {
  height: 20px;
  border: 1px solid #888;
  background-color: #bfb;
  text-align:center;
  padding: 2px 4px 2px 4px;
  font-weight: normal;
}
.lineage_accessory_popup_table th.col_header {
  max-width:160px;
}
.lineage_accessory_popup_table td {
  min-width:50px;
  border: 1px solid #888;
  text-align:right;
  padding: 1px 6px 1px 6px;
}
.modal_selection tr {
  display: none;
}

.record-link {
  font-weight: bold;
  font-size: 0.9em;
  color: #0066cc;
  text-decoration: none;
  cursor: pointer;
  &:hover { color: #f33; }
}