<div class="nav">
  <ul class="nav-group">

    <li>
      <a href="index.html"
         class="{% if current == 'index' %}active{% endif %}">
         <i class="fa fa-home"></i>&nbsp;ホーム
      </a>
    </li>

    <li>
      <a href="Lineage_table_monster.html"
         class="{% if current == 'monster' %}active{% endif %}">
         Monsters
      </a>
    </li>

    <li>
      <a href="Lineage_table_drop.html"
         class="{% if current == 'drop' %}active{% endif %}">
         Drops
      </a>
    </li>

    <li>
      <a href="Lineage_table_skill.html"
         class="{% if current == 'skill' %}active{% endif %}">
         Skills
      </a>
    </li>

    <li>
      <a href="Lineage_accessory_crest.html"
         class="{% if current == 'accessory' %}active{% endif %}">
         Accessorys
      </a>
    </li>

    <li>
      <a href="LineageREMASTER_kanji.html"
         class="{% if current == 'kanji' %}active{% endif %}">
         kanji
      </a>
    </li>

    <li>
      <a href="LineageREMASTER_etc.html"
         class="{% if current == 'etc' %}active{% endif %}">
         諸表
      </a>
    </li>

  </ul>
</div>