<div class="header">
  <div class="header-description">
    <ul class="nav-group_acce">

      <li>
        <a href="Lineage_accessory_crest.html"
           class="{% if acce == 'crest' %}active{% endif %}">
           紋章
        </a>
      </li>

      <li>
        <a href="Lineage_accessory_insignia.html"
           class="{% if acce == 'insignia' %}active{% endif %}">
           インシグニア
        </a>
      </li>

      <li>
        <a href="Lineage_accessory_earring.html"
           class="{% if acce == 'earring' %}active{% endif %}">
           ルームティスの<br>イアリング
        </a>
      </li>

      <li>
        <a href="Lineage_accessory_pendant__page1.html"
           class="{% if acce == 'pendant1' %}active{% endif %}">
           ルームティスの<br>ペンダント1
        </a>
      </li>

      <li>
        <a href="Lineage_accessory_pendant__page2.html"
           class="{% if acce == 'pendant2' %}active{% endif %}">
           ルームティスの<br>ペンダント2
        </a>
      </li>

      <li>
        <a href="Lineage_accessory_bracelet.html"
           class="{% if acce == 'bracelet' %}active{% endif %}">
           ブレスレット
        </a>
      </li>

      <li>
        <a href="Lineage_accessory_ring__page1.html"
           class="{% if acce == 'ring1' %}active{% endif %}">
           スナッパーの<br>リング1
        </a>
      </li>

      <li>
        <a href="Lineage_accessory_ring__page2.html"
           class="{% if acce == 'ring2' %}active{% endif %}">
           スナッパーの<br>リング2
        </a>
      </li>

    </ul>
  </div>
</div>