      <tbody class="modal_selection">
        <tr class="インシグニア"><th class="col_header">強化等級</th><th>＋4→＋5</th><th>＋5→＋6</th><th>＋6→＋7</th><th>＋7→＋8</th></tr>
        <tr class="インシグニア"><th class="col_header">強化確率</th><td>100.0%</td><td>24.0%</td><td>3.0%</td><td>0.3%</td></tr>
        <tr class="スナッパーのリング"><th class="col_header">強化等級</th><th>＋4→＋5</th><th>＋5→＋6</th><th>＋6→＋7</th><th>＋7→＋8</th></tr>
        <tr class="スナッパーのリング"><th class="col_header">強化確率</th><td>100.0%</td><td>50.0%</td><td>6.0%</td><td>0.3%</td></tr>
        <tr class="ブレスレット"><th class="col_header">強化等級</th><th>＋3→＋4</th><th>＋4→＋5</th><th>＋5→＋6</th></tr>
        <tr class="ブレスレット"><th class="col_header">強化確率</th><td>100.0%</td><td>12.0%</td><td>2.0%</td></tr>
        <tr class="紋章"><th class="col_header">強化等級</th><th>＋4→＋5</th><th>＋5→＋6</th><th>＋6→＋7</th><th>＋7→＋8</th></tr>
        <tr class="紋章"><th class="col_header">強化確率</th><td>100.0%</td><td>24.0%</td><td>3.0%</td><td>0.3%</td></tr>
        <tr class="ルームティスイアリング"><th class="col_header">強化等級</th><th>＋4→＋5</th><th>＋5→＋6</th><th>＋6→＋7</th><th>＋7→＋8</th></tr>
        <tr class="ルームティスイアリング"><th class="col_header">強化確率</th><td>100.0%</td><td>50.0%</td><td>6.0%</td><td>0.3%</td></tr>
        <tr class="ルームティスのペンダント"><th class="col_header">強化等級</th><th>＋4→＋5</th><th>＋5→＋6</th><th>＋6→＋7</th><th>＋7→＋8</th></tr>
        <tr class="ルームティスのペンダント"><th class="col_header">強化確率</th><td>100.0%</td><td>24.0%</td><td>3.0%</td><td>0.3%</td></tr>
      </tbody>
    </table>